.bs-hero {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 2rem);
  // background-attachment: fixed;

  &__overlay {
    min-height: calc(100vh - 2rem);
    background-image: linear-gradient( rgba(black, .15), transparent, rgba(black, .2) );
    position: relative;
  }

  &__overlay-text {
    line-height: 1;
    // width: 90%;

    position: absolute;
    left: 35%;
    bottom: 17.5%;
  }

  &__overlay-cursive {
    font-family: 'Shelley Script';
    color: rgba(255, 255, 74, .7);

    span {
      font-size: 5.5rem;
      filter: drop-shadow(1px 1px 3px #555);

      span {
        font-size: 2em;
      }
    }
  }

  &__overlay-title {
    @include heading;
    padding: 1.5rem 2rem;
    margin: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, .85);
    filter: drop-shadow(1px 1px 5px #555);
    // background-color: rgba( black, .33 );
  }
}
