.bs-totop {
  padding: 4rem 0 2rem;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    @include heading;

  }

  &__link {
    flex: 0 0 10%;
    color: $color-black;
    display: inline-block;
    transition: all .5s;

    &:hover {
      transform: translateY(-1rem);
      color: inherit;
    }
  }
}
